body {
	margin: 0 auto;
	background: #000000;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

a:link { 
	color: #000000;
	text-decoration: none;
}

a:hover {
	font-weight:bold;
}

a:visited {
	color: #000000;
}

#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	float:left;
	width:100%;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	color:#000;
	background:#F9BB00;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	text-decoration:none;
}
#nav a:hover{
	color:#fff;
	background:#F9BB00;
}

#nav ul{
	background:#FFE920;
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px;
	text-align: left;
}
#nav ul li{
	padding-top:1px;
	float:none;
}
#nav ul a{
	white-space:nowrap;
}
#nav li:hover ul{
	left:-40;
}
#nav li:hover a{
}

#headbar {
	width: 800px
	border-radius: 10px;
	background-image:url('Banner.png');
	background-repeat:no-repeat;
	display: inline-block;
}

#headbar:hover {
	background-image:url('Banner3.png');
	background-repeat:no-repeat;
}

.navbar {
	width: 800px;
	border-radius: 10px;
	background-image:url('navbar.png');
	display: inline-block;
}

.contentLeft {
	width: 650;
	color: white;
	display:inline-block;
	vertical-align:text-top;
}

.contentRight {
	width: 150;
	height: 1000px;
	color: white;
	padding: 5px;
	display:inline-block;
	vertical-align:text-top;
	border-radius: 10px;
	border-style:solid;
	border-width:0px;
	border-color:#FFFFFF;
}

.blogTitle {
	text-align: left;
	background: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	padding: 5px;
	border-color: #FF9900;
	font-size: x-large;
	font-weight: bold;
}

.blogPost {
	text-align: left;
	background: #FF9900;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	padding: 5px;
	border-color: black;
}